:root{
  --offWhite1:hsl(0,0%,97%);
  --offWhite2:hsl(0,0%,95%);
  --offWhite3:hsl(0,0%,90%);
  --myGreen:hsl(90,60%,30%);
  --Myred:hsl(10,60%,30%);
  --offBlack: hsl(0,0%,10%);
  --Myredtd:hsl(10,60%,70%);
  --Myredth:hsl(10,60%,50%);
  --myGrey:hsl(240,3%,40%);
}
body{
  font-family: Arial,Sans-Serif;
  background-color: var(--offWhite2);
  height:100vh;
  margin: 0px;
}
header h1{
  font-size: 22px;
  color: var(--offWhite3);
  
}
header{
  align-items: center;
  display: flex;
  padding: 0% 2%;

  background-color: var(--Myred);
  border: 1px solid;
  height: 10%;
}
ul{
  padding: 0px 20px;

}
main {
  margin: 1% 2%;
  display: flex;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
}